.ImageMargin {
  margin: 50px;
}

.HeroImage {
  height: 900px;
}

.EventTitle {
  margin-top: 75px;
}

.FacebookLink {
  text-decoration: underline;
}

.FacebookLink:hover {
  color: #3b5998;
}

.PhotoGalleryTitle {
  margin-top: 75px;
}
