@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.navbar {
  background: transparent;
  position: fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
.NavLinks:hover {
  transform: scale(1.2) !important;
  transition: 0.7s ease-in-out;
}

.NavLinks {
  color: black;
}

.logo {
  width: 25%;
}

/* .Heading1 {
  margin-right: 25%;
} */
