@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.navbar {
  background-color: transparent;
  position: fixed;
}
.NavLinks:hover {
  transform: scale(1.2) !important;
  transition: 0.7s ease-in-out;
}

.NavLinks {
  color: black;
}
